import {
	always-include: true;
	display: block;	
	view-type: midp2;
}

element {
	padding: 0;
	margin: 0;
}

viewport extends element {
	display: inline;
	layout: expand;
	label-style: title;
}

title {
	background-color: black;
	font-color: white;
	layout: expand | newline-after;
}