info {
	padding: 0;
	font: fnt_input_info;
	background-color: #666666;
	layout: right;	
}

element {
	display: inline;
	padding: 0;
	margin: 0;
	font: fnt_text;
}

element:hover{}

viewport extends element {
	layout: expand;
	label-style: title;
	display: inline;
}

viewport:hover{}

title {
	background-color: black;
	font-color: white;
	layout: expand | newline-after;
}