scrollbar 
{
	scrollbar-slider-color: #B8B8B8;
	scrollbar-slider-width: 5;
	scrollbar-fadeout: false;
	padding:0;
}

browser {
	background-color: white;
	title-style: browser_title;
	menubar-style: browser_menubar;
}

browser_title {
	padding: 2%;
	background-color: #666666;
	font-color: white;
	font-size: small;
	layout: expand;
}

browser_menubar {
	padding: 2%;
	background-color: #666666;
	layout: expand;
}

leftcommand {
	font-color: white;
	font-size: small;
	layout: left;
}

rightcommand extends leftcommand{
	layout: right;
}

middlecommand extends leftcommand{
	layout: center;
}

popup {
	repaint-previous-screen: true;
	layout: expand | vexpand | center | vcenter;
	title-style: browser_title;
	menubar-style: browser_menubar;
}

refresh_progress {
	gauge-show-value: false;
	gauge-color: #666666; 
	margin: 20%;
	padding: 1%;
	gauge-height: 5;
	gauge-mode: continuous;
	background-color: white;
	border-color: #666666;
}

alert extends popup{
}

alertMessage {
	layout: center;
	font-color: white;
	font-style: bold;
	border-color: white;
	padding: 10%;
	padding-vertical: 0px;
}

