colors {
	bgColor: white;
	highlightedBgColor: #7272f4;
	titleColor: #7272f4;
	screenBgColor: white;
	fontColor: black;
	focusedFontColor: black;
	inactiveFontColor: gray;
}

backgrounds {
	contBackground {
		type: round-rect;
		color: #7f7f7f;
	}
}

borders {
	contBorder {
		type: round-rect;
		width: 2;
		color: #777;
	}
}

.gradientFramedForm {
	padding: 5%;
	background-color: screenBgColor;
	layout: vertical-center | horizontal-center;
	content-background: contBackground;
	content-border: contBorder;
}

scrollbar {
	background-color: #7272f4;
	//#if polish.hasPointerEvents
		scrollbar-slider-width: 12;
	//#else
		scrollbar-slider-width: 4;
	//#endif 
}

rightframe {
	layout: vertical-expand | vertical-center;
}

.colorChoiceGroup {
	padding: 2;
	include-label: true;
	/*
	layout: expand | center;
	*/
	background-color: bgColor;

	/*
	view-type: exclusive;
	exclusiveview-right-arrow: url( right.png );
	exclusiveview-left-arrow: url( left.png );
	exclusiveview-roundtrip: true;
	*/
	/* Alternatively you might want to use the horizontal-choice view-type:
	*/
	view-type: horizontal-choice;
	horizontalview-right-arrow: url( right.png );
	horizontalview-left-arrow: url( left.png );
	horizontalview-roundtrip: true;
	/* 
	*/
	
}

.colorChoiceGroup:hover {
	padding: 2;
	font-color: focusedFontColor;
	background {
		type: web20;
		color: highlightedBgColor;
		circle-anchor: top;
		circle-color: #A2A2f9;
		padding: 3;
		padding-top: 0;
		padding-bottom: 8;
	}
	label-style: .labelFocused;
}

.colorChoiceItem {
	padding: 2;
	font-color: fontColor;
	font-size: small;
	/** use expand layout only when using view-type: exclusive for the ChoiceGroup
	layout: expand | center;
	**/
}

.colorChoiceItem:hover {
	font-style: bold;
}

.meaninglessSelectableItem {
	font-color: #222;
	layout: center;
}


focused {
	padding: 2;
	font-color: focusedFontColor;
	layout: expand | center;
	background {
		type: web20;
		color: highlightedBgColor;
		circle-anchor: top;
		circle-color: #A2A2f9;
		padding: 3;
		padding-top: 0;
		padding-bottom: 8;
	}
	label-style: .labelFocused;
}

title {
	font-color: titleColor;
	text-effect: shadow;
	text-shadow-color: inactiveFontColor;
	layout: expand | center;
	border {
		type: bottom;
		color: #333;
	}
}

label {
	padding-left: 2;
	font-color: inactiveFontColor;
	font-size: small;
}


.labelFocused extends label {
	font-color: fontColor;
}

/************************ Default Command Demo ********************************************************************/

.horizontalFrame {
	view-type: horizontal;
}

.popupAlert {
	repaint-previous-screen: true;
	margin: 20%;
	layout: bottom | horizontal-center;
	background-color: #afff;
}

.itemWithDefaultCommand {
	font-color: #333;
}

.itemWithDefaultCommand:hover {
	background-color: #333;
	font-color: #eee;
}

/************************* Calendar Demo **************************************************************************/

.note {
	font-style: italic;
	font-color: #333;
	font-size: small;
}

.colorInput {
	margin: 1;
	background-color: silver;
	layout: expand;
	textfield-direct-input: true;
}

.colorInput:hover {
	margin: 0;
	border-color: black;
	background-color: white;
}


.calendarFramedForm extends gradientFramedForm {
	columns: 7;
	columns-width: equal;
	topframe-style: calendarFramedFormHeader;
}

.calendarFramedFormHeader {
	columns: 7;
	columns-width: equal;
}

.calendarDayHeader {
	font-style: italic;
	font-size: small;
	layout: center | expand;
}

.calendarDayEntry {
	font-size: small;
	min-height: 40;
	layout: center | expand | vertical-center;
	background-color: silver;
	border-color: #333;
}

.calendarDayEntry:hover {
	border-color: #f66;
}

.currentCalendarDayEntry extends calendarDayEntry {
	background-color: yellow;
	border-color: #3f3;
}