/** BLOCK **/

body {
	padding: 0;
	margin: 0;
}

h1 {
	margin-top: 2%;
	margin-bottom: 2%;
	font: fnt_h1;
	display: block;
}

br {
	layout: newline-after;
}

div {
	font: fnt_text;
	display: block;
}

p {
	margin-top: 5%;
	margin-bottom: 5%;
	font: fnt_text;
	display: block;
}

form {
	display: block;
}

/** INLINE **/

text {
	padding: 0px;
	font: fnt_text;
	display: inline;
}

span {
	font: fnt_text;
	display: inline;
}

em {
	font: fnt_text;
	display: inline;
}

input_text{
	font: fnt_input_text;
	border: bdr_input;
}

input_text:hover {
	border: bdr_input_focus;
}

input_submit {
	font: fnt_input_submit;
	border: bdr_input;
	background: bg_input_submit;
	min-width: 80;
	text-layout: vcenter;
	margin: 2%;
}

input_submit:hover {
	border: bdr_input_focus;
}

input_submit:pressed {
	background: bg_input_submit_focus;
	border: bdr_input_focus;
}

input_radio_group {
}

input_radio_group:hover {}

input_radio {
	margin: 2%;
}

input_radio:hover {
	border: bdr_input_focus;
}

input_radio:pressed {
	background: bg_input_submit_focus;
	border: bdr_input_focus;
}