<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="de.enough.polish.plugin.eclipse.polishEditor.polishEditorPlugin"
   name="PolishEditor Plug-in"
   version="1.0.0"
   provider-name=""
   class="de.enough.polish.plugin.eclipse.polishEditor.PolishEditorPlugin">

   <runtime>
      <library name="PolishEditor.jar">
         <export name="*"/>
      </library>
      <library name="lib/antlr-2.7.5.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
         
		<editor
         	id="de.enough.polish.plugin.eclipse.polishEditor.editor.PolishEditor"
         	name="Polish Editor"
         	extensions="java"
         	icon="icons/sample.gif"
         	contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
         	class="de.enough.polish.plugin.eclipse.polishEditor.editor.PolishEditor">
         </editor>
    </extension>
    
    <!--
    <extension
    		id="PolishDocumentSetupParticipant"
		name="PolishDocumentSetupParticipant"
		point="org.eclipse.core.filebuffers.documentSetup">
		
		<participant extensions="java"
			class="de.enough.polish.plugin.eclipse.polishEditor.PolishDocumentSetupParticipant">
		</participant>
	</extension>
	-->
	
	<extension
       id="de.enough.polish.plugin.eclipse.polishEditor.preference.preferencePages"
       name="J2ME Polish Prefernce Pages"
       point="org.eclipse.ui.preferencePages">
       <page id="de.enough.polish.plugin.eclipse.polishEditor.preferencePage.rootPage"
	    class="de.enough.polish.plugin.eclipse.polishEditor.preference.PolishRootPage"
            name="J2ME Polish">
       </page>
   </extension>
   
<extension
	id="de.enough.polish.plugin.eclipse.polish.togglePolishNatureExtension"
	name="Toggle J2ME Polish nature"
	point="org.eclipse.ui.popupMenus">
	
	<objectContribution
       adaptable="true"
       objectClass="org.eclipse.core.resources.IProject"
       id="de.enough.polish.plugin.eclipse.polish.togglePolishNature">
		
		<action
			id="de.enough.polish.plugin.eclipse.polish.togglePolishNatureAction"
			label="Toggle J2ME Polish nature"
			icon="icons/simple.gif"
			class="de.enough.polish.plugin.eclipse.polish.actions.TogglePolishNatureAction"
			enablesFor="1">
		</action>
	</objectContribution>
</extension>

<extension
	id="de.enough.polish.plugin.eclipse.polish.nature"
	point="org.eclipse.core.resources.natures"
	name="J2ME Polish Nature">
	
	<runtime>
		<run
			class="de.enough.polish.plugin.eclipse.polish.PolishNature">
		</run>
	</runtime>	
</extension>

</plugin>
