.marginBlockPixel {
	background-color: red;
	margin: 20px;
	color: white;
}

.marginBlockPercent {
	background-color: blue;
	margin: 20%;
	color: white;
}

.marginInlinePixel {
	background-color: purple;
	margin-left: 20px;
	margin-right: 20px;
	color: white;
}

.marginInlinePercent {
	background-color: green;
	margin-left: 20%;
	margin-right: 20%;
	color: white;
}