.paddingBlockPixel {
	background-color: red;
	padding: 20px;
	color: white;
}

.paddingBlockPercent {
	background-color: blue;
	padding: 20%;
	color: white;
}

.paddingInlinePixel {
	background-color: purple;
	padding: 20px;
	color: white;
}

.paddingInlinePercent {
	background-color: green;
	padding: 20%;
	color: white;
}