<%define inOverviewSection %>
<%set title = J2ME Polish %>
<%include start.txt %>

	<p class="pullquote">
	J2ME&nbsp;Polish is <b>the</b> answer to today's challenges in the mobile world. Extremely versatile and powerful, yet easy to use!
	</p>
	<h2>J2ME Polish 2.0 RC4</h2>
	<p>
	<i>2007-03-17:</i> The <a href="download.html">fourth and last release candidate of J2ME Polish 2.0</a> provides fixes for UI and postcompiler problems, updated device database (Samsung) and small feature enhancements like calculations within CSS attributes:
	<a href="downloads/changelog-20rc4.html">changelog</a>.
	</p>
	<h2 id="javaone">JavaOne 2007</h2>
		<table>
		<tr>
			<td><a href="http://java.sun.com/javaone/sf/" target="_blank"><img alt="JavaOne logo" src="images/2007JavaOneBanner.jpg" width="426" height="124"/></a></td>
			<td valign="center">Learn how to visually develop mobile applications with J2ME Polish and NetBeans on the 
			 <a href="http://java.sun.com/javaone/sf/" target="_blank">Java One 2007</a> in San Francisco, 
			 <a href="http://www28.cplan.com/cc158/sessions_catalog.jsp?ilc=158-1&ilg=english&isort=&isort_type=&is=yes&icriteria1=+&icriteria2=+&icriteria7=+&icriteria9=9452&icriteria8=&icriteria3=" target="_blank">Technical Session 9452</a>!
			</td>
		</tr>
		</table>
	<h2>J2ME Polish 2.0 RC3</h2>
	<p>
	The <a href="download.html">third release candidate of J2ME Polish 2.0</a> fixes problems with <b>NetBeans</b>, Java 1.4 installers, repaints on Nokia Series 60 devices and
	some rather tricky RMI and serialization problems.
	</p>
	<h2 id="3gsm">3GSM Worldcongress 2007</h2>
		<table>
		<tr>
			<td><a href="http://3gsmworldcongress.com/" target="_blank"><img alt="3GSM logo" src="images/3gsm.gif" width="173" height="91"/></a></td>
			<td valign="center">Please visit us on the <a href="http://3gsmworldcongress.com/" target="_blank">3GSM Worldcongress</a>
			 on exhibition stand A86 in Hall 2, Level 1 - 12.-15. February 2007 in Barcelona!
			Visitors will be able to obtain <a href="licenses.html">J2ME Polish licenses</a> with a <strong>discount of 30%</strong> !
			</td>
		</tr>
		</table>
	<h2>J2ME Polish 2.0</h2>
		<table>
		<tr>
			<td><a href="download.html"><img alt="J2ME Polish 2.0 Release Candidate is here!" src="images/j2mepolish20.gif" width="400" height="400"/></a></td>
			<td valign="bottom"><i>2007-02-21:</i> J2ME Polish 2.0 Release Candidate 3 is here. Enjoy these indespensable new features:</td>
		</tr>
		</table>
		<ul>
			<li><b>Overhauled GUI Library</b>: apply effects everywhere: to texts, screen changes, animations, and more - and all this without adding additional resources to your projects! You can also directly access advanced J2ME Polish features while still programming with the usual javax.microedition.lcdui framework. Did we mention the support of subcommands for your menus?</li>
			<li><b><a href="docs/serialization-howto.html">Serialization Framework</a></b>: Want to store or transmit data? Just implement <a href="<%= javadocdir %>../javadoc/j2me/de/enough/polish/io/Serializable.html">de.enough.polish.io.Serializable</a> 
			and J2ME Polish takes care of the serialization for you.</li>
			<li><b><a href="docs/serialization-persistence.html">Persistence</a></b>: Along with the serialization framework we also throw in the <a href="<%= javadocdir %>../javadoc/j2me/de/enough/polish/io/RmsStorage.html">RmsStorage</a> that allows you to read and save data in the easiest possible way!</li>
			<li><b><a href="docs/rmi.html">Remote Method Invocation</a></b>: a convenient yet higly efficient method for calling server side functionalities!</li>
			<li><b><a href="docs/mepose.html">IDE Integration</a></b>: With our full blown Eclipse integration and much improved NetBeans support you can concentrate on your work rather than on our tools.</li>
			<li><b><a href="docs/java5.html">Java 5.0 Support</a></b>: Use Java 5.0 features like enums or generics for your J2ME projects as well!</li>
			<li><b><a href="docs/floater.html">Floating Point Support</a></b>: Use CLDC 1.1 features like floating point calculations on CLDC 1.0 mobiles as well - J2ME Polish takes care of the necessary conversion.</li>
		</ul>
		<p>Please check out the <a href="download.html">current release candidate</a>.</p>
	<!-- 
	<h2>What is J2ME Polish?</h1>
	<p><center>
	<object
		type="application/x-shockwave-flash"
		data="polish.swf"
		width="550"
		height="400"
	>
		<param
			name="movie"
			value="polish.swf" />
	</object>
	</center></p>
	 -->
	<h2 id="overview">Overview</h2>
		<p>
		J2ME Polish is suite of tools for creating &quot;polished&quot; J2ME applications.
		Each tool meets a definite need
		of J2ME developers:  
		<br />
		Build-tools with an integrated device-database, 
		a powerful GUI, a framework for building localized applications,
		a game-engine, a logging framework and a collection of utilities.
		</p>
		<table>
		<tr>
		 <td><a class="imageLink" href="screenshots.html"><img src="images/screenshot-example-enough-small.png" alt="design example 1"  width="137" height="181"/></a></td>
		 <td><a class="imageLink" href="screenshots.html"><img src="images/screenshot-example-pink-small.png" alt="design example 2"  width="135" height="181"/></a></td>
		 <td><a class="imageLink" href="screenshots.html"><img src="images/screenshot-example-roadrunner-small.png" alt="design example 3"  width="137" height="181"/></a></td>
		</tr>
		<tr>
		<td colspan="3" class="figuretext">These screenshots show the optional GUI of J2ME Polish in action. 
			These pictures show the same application with different
			designs. Absolutely no changes were made in the source code
			of the application. Have a look at the <a href="screenshots.html">screenshots-page</a>
			for more examples and details.
		</td>
		</tr>
		</table>
		<p>
		If you're new to J2ME Polish, you might want to 
		take the tour first:<br />
		<a href="docs/tour.html"><img src="images/lang-en.png" width="48" height="24" /> in English</a>,
		<a href="docs/tour-cn.html"><img src="images/lang-cn.png" width="48" height="24" /> in Chinese</a>,
		<a href="docs/tour-es.html"><img src="images/lang-es.png" width="48" height="24" /> in Spanish</a>,
		or
		<a href="docs/tour-de.html"><img src="images/lang-de.png" width="48" height="24" /> in German</a>.

		</p><p>
		Also have a look at
		the <a href="docs/features.html">features-page</a>, get
		acquainted with J2ME Polish in the <a href="docs/tutorial.html">tutorial</a> 
		or learn more about the <a href="book/book.html">Pro J2ME Polish book</a>.
		</p>
	<!--
	<h2 id="book">Pro J2ME Polish</h2>
	<table>
		<tr>
		<td valign="top">Learn J2ME Polish for real with the <a href="book/book.html">Pro J2ME Polish book</a>. Order it now at at <a href="http://www.amazon.com/exec/obidos/tg/detail/-/1590595033/qid%3D1116585350/103-9345838-6018209" target="_blank">Amazon</a>,
	<a href="http://search.barnesandnoble.com/booksearch/isbnInquiry.asp?isbn=1590595033&amp;itm=1" target="_blank">Barnes &amp; Noble</a>
	and similar webshops.
		</td>
		<td><a class="imageLink" href="book/book.html"><img src="images/proj2mepolish.gif" width="125" height="164" alt="cover" /></a></td>
		</tr>
	</table>
	-->
	<h2 id="status">Status</h2>
	<p>J2ME Polish is a stable &amp; complete solution for Windows, Linux and Mac OS X.
	With over 100 downloads per day, J2ME Polish is rapidly becoming the de-facto standard
	for developing J2ME applications.
		Please <a href="download.html">download</a> the latest version 
		(J2ME Polish <%= PolishVersion %>).
	</p>
	<p>
	<a href="http://www.sdjournal.org/en/index.php?page=recommended%20project" target="_blank">
	<img src="images/rec_pro_sdj_new.gif" alt="Software Developer's Recommended Project" width="124" height="74" border="0" />
	</a>
	</p>
	<h2 id="info">Open Source</h2>
	<p>J2ME Polish is available under the Open Source license GPL as well as
	under <a href="licenses.html">commercial licenses</a>.</p>
	<table><tr>
	<td width="30%" valign="top">
		J2ME Polish is OSI Certified Open Source Software.
		OSI Certified is a certification mark of the 
		<a href="http://www.opensource.org" target="_blank">Open Source Initiative</a>.
		
	</td>
	<td width="5%">&nbsp;</td>
	<td width="30%" valign="top">
		J2ME Polish is hosted on 
		<a href="http://developer.berlios.de/projects/polish" target="_blank">berliOS</a>.
	</td>
	<td width="5%">&nbsp;</td>
	<td width="30%" valign="top">
		J2ME Polish is linked on <a href="http://java.net" target="_blank">java.net</a>.
	</td>
	</tr>
	<tr>
		<td width="30%" valign="bottom"><a class="imageLink" href="http://www.opensource.org" target="_blank"> 
		<img src="images/osi-certified-120x100.png" width="120" height="100" />
		</a>
		</td>
	<td width="5%">&nbsp;</td>
		<td width="30%" valign="bottom"><a href="http://developer.berlios.de/projects/polish" title="BerliOS Developer" target="_blank" class="imageLink">
		<img src="http://developer.berlios.de/bslogo.php?group_id=1246" width="124px" height="32px" border="0" alt="BerliOS Developer Logo">
		</a>
		</td>
	<td width="5%">&nbsp;</td>
		<td width="30%" valign="bottom"><a href="http://java.net" title="java.net" target="_blank" class="imageLink">
		<img src="images/javanet_button.gif" alt="java.net" width="170" height="47" />
		</a>
		</td>
	</tr>
	</table>
	<p>
	</p>



<%include end.txt %>