colors {
	browserFontColor: #1e5556;
	brightFontColor: #ffbd8150;
	translucentBgColor: #82eef1e5;
	fontColor: #1e5556;
	brightBgColor: #eef1e5;
	browserFontColorFocused: #142850;
	bgColor: #848f60;
}
alert {
	margin: 0;
	padding: 1;
}
alertcontent {
	margin: 0;
	padding: 1;
}
browser {
	margin: 0;
	padding: 1;
}
browserchoicegroup {
	margin: 0;
	padding: 1;
}
browserchoiceitem {
	margin: 0;
	padding: 1;
}
browserdownloadindicator {
	layout: vertical-shrink | horizontal-shrink | top | right;
	margin: 0;
	padding: 1;
}
browserinput {
	layout: expand | left;
	margin: 0;
	padding: 2;
}
browserinputfocused {
	layout: expand | left;
	margin: 0;
	padding: 1;
}
browserlink {
	margin: 0;
	padding: 1;
	font {
		face: system;
		size: medium;
		style: plain;
		color: #ff2e2e41;
	}
}
browserlinkfocused {
	margin: 0;
	padding: 1;
}
browseroption {
	layout: left | expand;
	margin: 0;
	padding: 1;
}
browseroptionitem {
	margin: 0;
	padding: 1;
}
browsertext {
	margin: 0;
	padding: 1;
}
browsertextbold {
	margin: 0;
	padding: 1;
}
browsertextboldfocused {
	margin: 0;
	padding: 1;
}
browsertextbolditalic {
	margin: 0;
	padding: 1;
}
browsertextbolditalicfocused {
	margin: 0;
	padding: 1;
}
browsertextfocused {
	margin: 0;
	padding: 1;
}
browsertextitalic {
	margin: 0;
	padding: 1;
}
browsertextitalicfocused {
	margin: 0;
	padding: 1;
}
focused {
	layout: expand | center;
	margin: 0;
	padding: 1;
	font {
		face: system;
		size: medium;
		style: plain;
	}
	background {
		type: round-rect-translucent;
		color: #88ffffff;
		arc-width: 4;
		arc-height: 4;
	}
}
loadgamealert {
	layout: horizontal-expand | horizontal-center | vertical-center;
	margin: 20;
	padding: 1;
	background {
		type: simple;
		color: argb( 150, 255, 255, 255 );
	}
}
maincommand {
	layout: center | expand;
	margin: 2;
	padding: 5;
	background {
		type: simple;
		color: white;
	}
}
mainscreen {
	layout: horizontal-expand | horizontal-center | vertical-center;
	margin: 0;
	padding: 1;
	background {
		type: simple;
		color: brightBgColor;
	}
}
mcfocused {
	margin: 0;
	padding: 1;
}
mcfocused3 {
	margin: 0;
	padding: 1;
	background {
		type: simple;
		color: #ff66ff66;
	}
}
menu {
	margin: 0;
	padding: 2;
	background {
		type: round-rect;
		color: brightBgColor;
		arc-width: 4;
		arc-height: 4;
	}
}
menubar {
	margin: 0;
	padding: 1;
	background {
		type: vertical-gradient;
		top-color: #ffffff;
		bottom-color: #ffff0033;
		stroke: solid;
		start: 0;
		end: 100;
		is-percent: true;
	}
}
menufocused {
	layout: left | horizontal-expand;
	margin: 0;
	padding: 1;
	background {
		type: simple;
		color: bgColor;
	}
}
menuitem {
	layout: left;
	margin: 0;
	padding: 1;
}
mychoicegroup {
	margin: 0;
	padding: 1;
}
mychoiceitem {
	layout: horizontal-center | top | horizontal-expand;
	margin: 0;
	padding: 1;
	font {
		face: system;
		size: medium;
		style: plain;
		color: #ff003399;
	}
}
myform {
	layout: horizontal-center | vertical-center;
	margin: 0;
	padding: 1;
	font {
		face: system;
		size: medium;
		style: plain;
	}
	background {
		type: vertical-gradient;
		top-color: #ffffff;
		bottom-color: #ffe9e91c;
		stroke: solid;
		start: 0;
		end: 100;
		is-percent: true;
	}
}
mystringitem {
	margin: 0;
	padding: 1;
	background {
		type: horizontal-stripes;
		first-top-color: #ffff66;
		first-bottom-color: #008000;
		second-top-color: #ffffff;
		second-bottom-color: #33ff00;
	}
}
rssdescriptionalert {
	margin: 0;
	padding: 1;
}
textfieldsymbolitem {
	layout: center;
	margin: 1;
	padding: 2;
}
textfieldsymbollist {
	layout: vertical-shrink | horizontal-shrink | center | vertical-center;
	margin: 0;
	padding: 10;
	background {
		type: simple;
		color: white;
	}
}
textfieldsymbollistfocused {
	layout: center;
	margin: 0;
	padding: 2;
}
title {
	layout: horizontal-center | top | horizontal-expand;
	margin: 0;
	padding: 1;
	font {
		face: proportional;
		size: large;
		style: bold;
		color: #ffbd8150;
	}
	background {
		type: vertical-gradient;
		top-color: #ffffff;
		bottom-color: #ff33ff33;
		stroke: solid;
		start: 0;
		end: 100;
		is-percent: true;
	}
}

