/*********************************************************************************
 *                                                                               *
 *  Contains default styles for several J2ME Polish components                   *
 *                                                                               *
 *********************************************************************************/
 
 colors {
 	browserFontColor: rgb( 30, 85, 86 );
	browserFontColorFocused: rgb(20,40,80);
 }
 
.textFieldSymbolList {
	inherit: false;
	padding: 10;
	columns: 5;
	columns-width: equal;
	layout: vertical-shrink | horizontal-shrink | center | vertical-center;
	background-color: white;
	repaint-previous-screen: true;
	focused-style: .textFieldSymbolListFocused;
}

.textFieldSymbolItem {
	inherit: false;
	margin: 1;
	padding: 2;
	font {
		color: gray;
		size: medium;
		style: bold;
	}
	layout: center;
}

.textFieldSymbolListFocused {
	inherit: false;
	margin: 0;
	padding: 2;
	font {
		color: black;
		size: medium;
		style: bold;
	}
	border {
		type: bottom;
		color: #A00;
	}
	layout: center;
}

/* inherit is true for this style, since
 * people tend to forget to set this layout 	
rightcommand {
	layout: right;
}
centercommand {
	layout: center;
}
*/


.browser {
	view-type: midp2;
}

.browserText {
	inherit: false;
	padding-bottom: 1;
	padding-right: 1;
	font-color: black;
	focused-style: .browserTextFocused
}

.browserTextFocused {
	inherit: false;
	padding-bottom: 1;
	padding-right: 1;
	font-color: red;
}

.browserTextBold {
	inherit: false;
	padding-bottom: 1;
	padding-right: 1;
	font-color: black;
	font-style: bold;
	focused-style: .browserTextBoldFocused
}

.browserTextBoldFocused {
	inherit: false;
	padding-bottom: 1;
	padding-right: 1;
	font-color: red;
	font-style: bold;
}

.browserTextItalic {
	inherit: false;
	padding-bottom: 1;
	padding-right: 1;
	font-color: black;
	font-style: italic;
	focused-style: .browserTextItalicFocused
}

.browserTextItalicFocused {
	inherit: false;
	padding-bottom: 1;
	padding-right: 1;
	font-color: red;
	font-style: italic;
}

.browserTextBoldItalic {
	inherit: false;
	padding-bottom: 1;
	padding-right: 1;
	font-color: black;
	font-style: bold | italic;
	focused-style: .browserTextBoldItalicFocused
}

.browserTextBoldItalicFocused {
	inherit: false;
	padding-bottom: 1;
	padding-right: 1;
	font-color: red;
	font-style: bold | italic;
}

.browserLink {
	inherit: false;
	padding-bottom: 1;
	padding-right: 1;
	font-color: blue;
	font-style: bold;
	focused-style: .browserLinkFocused;
}

.browserLinkFocused {
	inherit: false;
	padding-bottom: 1;
	padding-right: 1;
	font-color: red;
	font-style: bold;
}

.browserInput extends .browserText {
	inherit: false;
	padding: 2;
	layout: expand | left;
	focused-style: browserInputFocused;
	border {
		type: round-rect;
		width: 1;
		color: browserFontColor;
	}
}

.browserInputFocused extends .browserTextFocused {
	inherit: false;
	layout: expand | left;
	border {
		type: round-rect;
		width: 2;
		color: browserFontColorFocused;
	}
}

.browserDownloadIndicator {
	inherit: false;
	layout: vertical-shrink | horizontal-shrink | top | right;
	/*
	hehe, hey Michael: white stripes on white background, eh?
    gauge-color: white; 
    gauge-gap-color: white;
    gauge-animation-mode: backandforth;
    gauge-animation-speed: 2;
    background{
    	color: red;
		border-width: 2;
		border-color: black;
    }
    */
}

.browserChoiceGroup {
}

.browserChoiceItem {
}

.browserOption {
	inherit: false;
	view-type: exclusive;
	layout: left | expand;
}

.browserOptionItem {
}

.rssDescriptionAlert {
}

.verticalmenubar {
	inherit: false;
	background: none;
	layout: right | horizontal-shrink;
}
