element {
	padding: 0;
	margin: 0;
}

viewport extends element {
	layout: expand;
	label-style: title;
	display: inline;
}

viewport:hover{}

title {
	background-color: black;
	font-color: white;
	layout: expand | newline-after;
}