<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="de.enough.mepose.core.CorePlugin"
   name="Mepose Core Plugin"
   version="1.0.0"
   provider-name=""
   class="de.enough.mepose.core.CorePlugin">

   <runtime>
      <library name="MeposeCore.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant.jar">
         <export name="*"/>
      </library>
      <library name="lib/ant-nodeps.jar">
         <export name="*"/>
      </library>
      <library name="lib/jdom.jar">
         <export name="*"/>
      </library>
      <library name="lib/enough-j2mepolish-build.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>

</plugin>
