focused{
	font-color:green;
	font-style:bold;
	background-color: #08080808;
}

.sudokuContainer {
	layout: center, vcenter;
	columns: 9;
}

.sudokuCell{
	font-style:bold;
	padding-left:5;
	padding-bottom: 0;
	textfield-width: 10;
	background-color: #08080808;
}


.sudokuCellWrong extends .sudokuCell{
	font-color: red;
}
.sudokuCellConflict extends .sudokuCell{
	font-color: #FF8000FF;
}
.sudokuCellNative extends .sudokuCell{
	font-color: black;
}
.sudokuCellUser extends .sudokuCell{
	font-color: blue;
}
