.frame {
	display: block;
	margin: 1px;
	padding: 1px;
	background-color: #A0A0A0;
	max-width: 80%;
}

.frame:hover {
	background-color: #FF9900;
	max-width: 100%;
}

.content {
	display: block;
	padding: 1px;
	background-color: white;
}