colors {
	bgColor: white;
	highlightedBgColor: silver;
	titleColor: #6262d4;
	titleShadowColor: silver;
	screenBgColor: #7272f4;
	fontColor: black;
	focusedFontColor: black;
	inactiveFontColor: white;
	menubarColor: #6262d4;
	activeTabColor: #7272f4; 
	inactiveTabColor: silver;
}

.tabbedForm {
	padding: 4;
	layout: hcenter | vcenter;
	background-color: screenBgColor;
	background-image: url( flames.png );
	background-anchor: left | bottom;
	background-top: title;
	background-bottom: menubar;
	menubar-color: menubarColor;
}

tabbar {
	background-color: white;
	layout: expand;
	padding-bottom: 0;
	tabbar-scrolling-indicator-color: black;
	tabbar-left-arrow: url( left.png );
	tabbar-right-arrow: url( right.png );
	tabbar-arrow-y-offset: 3;
	tabbar-roundtrip: true;
}

activetab {
	padding: 3;
	padding-left: 10;
	padding-right: 8;
	padding-top: 7;
	background-type: round-tab;
	background-color: activeTabColor;
	background-arc: 8;
	font-color: black;
	font-style: bold;
}

inactivetab {
	padding: 3;
	padding-left: 6;
	padding-right: 4;
	margin-left: 2;
	margin-right: 2;
	background-type: round-tab;
	background-color: inactiveTabColor;
	background-arc: 8;
	font-color: gray;
}

.settingsChoice {
	padding: 2;
	layout: expand | left;
}

.settingsItem {
	radiobox-plain: none;
	radiobox-selected: url( selected.png );
	padding: 3;
	padding-horizontal: 5;
	font-color: fontColor;
	font-size: small;
	layout: expand | left;
	focused-style: .settingsItemFocused;
}

.settingsItemFocused {
	padding: 2;
	padding-horizontal: 5;
	font-color: fontColor;
	font-size: small;
	border-width: 1;
	border-color: black;
	layout: expand | left;
}


focused {
	padding: 2;
	layout: expand | left;
	font-color: focusedFontColor;
	font-size: small;
	font-style: bold;
	background-color: highlightedBgColor;
	label-style: .labelFocused;	
}

title {
	padding-top: 3;
	padding-bottom: 3;
	font-color: titleColor;
	text-effect: shadow;
	text-shadow-color: titleShadowColor;
	layout: expand | center;	
}

label {
	padding: 2;
	font-color: inactiveFontColor;
	font-size: small;
	font-style: bold;
	layout: left;
}

.labelFocused extends label {
	font-color: fontColor;
}

.input {
	background-color: white;
	border-color: black;
	border-width: 1;
	font-color: fontColor;
}

info {
	margin-right: 10;
	margin-top: 4;
	padding: 2;
	font-size: small;
	layout: right;
	background-color: argb( 200, 255, 255, 255 );
}

menu {
	background-color: argb( 200, 255, 255, 255 );
	min-width: 120;
	font-style: bold;
	font-size: small;
	font-color: fontColor;
}