/** BLOCK **/

body extends element {
	display: block;
}

h1 extends element {
	margin-top: 2%;
	margin-bottom: 2%;
	font: fnt_h1;
	display: block;
}

br extends element {
}

div extends element {
	display: block;
}

p extends element {
	margin-top: 5%;
	margin-bottom: 5%;
	display: block;
}

form extends element {
	display: block;
}

/** INLINE **/

text extends element {
	font: fnt_text;
}

span extends element {
	font: fnt_text;
}

strong extends element {
	font-style: bold;
}

em extends element {
	font-style: cursive;
}

input_text extends element {
	font: fnt_input_text;
	border: bdr_input;
}

input_text:hover {
	border: bdr_input_focus;
}

input_submit extends element {
	font: fnt_input_submit;
	border: bdr_input;
	background: bg_input_submit;
	min-width: 80;
	text-layout: vcenter;
	margin: 2%;
}

input_submit:hover {
	border: bdr_input_focus;
}

input_submit:pressed {
	background: bg_input_submit_focus;
	border: bdr_input_focus;
}

input_radio_group extends element {
}

input_radio_group:hover {}

input_radio extends element {
	margin: 2%;
}

input_radio:hover {
	border: bdr_input_focus;
}

input_radio:pressed {
	background: bg_input_submit_focus;
	border: bdr_input_focus;
}