/** BLOCK **/

body extends element {
	display: block;
}

h1 extends element {
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: medium;
	font-color: text;
	font-style: normal;
	display: block;
}

div extends element {
	display: block;
}

p extends element {
	margin-top: 5%;
	margin-bottom: 5%;
	display: block;
}

form extends element {
	display: block;
}

/** INLINE **/

a extends element {
	font-color: #000066;
	focus-all: true;
}
 
a:hover {
	font-color: white;	
	background-color: #000066;
}

text extends element {
}

span extends element {
}

strong extends element {
	font-style: bold;
}

em extends element {
	font-style: cursive;
}

input_text extends element {
	padding: 1px;
	font-size: small;
	font-color: text;
	font-style: normal;
	border: bdr_input;
	min-width: 120px;
}

input_text:hover {
	border: bdr_input_focus;
}

input_submit extends element {
	font-size: small;
	font-color: text;
	font-style: normal;
	border: bdr_input;
	background: bg_input_submit;
	padding: 1px;
	text-layout: vcenter | center;
}

input_submit:hover {
	border: bdr_input_focus;
}

input_submit:pressed {
	background: bg_input_submit_focus;
	border: bdr_input_focus;
	font-size: small;
	font-color: white;
	font-style: normal;
}

input_radio_group extends element {
}

input_radio_group:hover {}

input_radio extends element {
	margin: 2%;
}

input_radio:hover {
	border: bdr_input_focus;
}

input_radio:pressed {
	background: bg_input_submit_focus;
	border: bdr_input_focus;
}