
.mainScreen {
	screen-change-animation: verticalFlash;
}


.settingsScreen {
	screen-change-animation: flash;
	flash-screen-change-animation-speed: 5;
}

.aboutScreen {
	screen-change-animation: verticalShutter;
	vertical-shutter-screen-change-animation-speed: 8;
}
