
.mainScreen {
	screen-change-animation: zoomOut;
}


.settingsScreen {
	screen-change-animation: zoomIn;
}

.aboutScreen {
}

title {
	text-effect: gradient;
	text-vertical-gradient-start-color: white;
	text-vertical-gradient-end-color: highlightedFontColor;
}