
.mainScreen {
	screen-change-animation: zoomOut;
}


.settingsScreen {
	screen-change-animation: zoomIn;
}

.aboutScreen {
}

title {
	padding-top: 5;
	font-color: #00D000;
	layout: center;
	font-size: large;
	
	text-effect: drop-shadow;
	text-drop-shadow-start-color: #A0309030;
	text-drop-shadow-end-color: #20309030;
	
	text-drop-shadow-size: 8;
	text-drop-shadow-offsetx: 1;
	text-drop-shadow-offsety: 2;
	
	/*text-effect: gradient;
	text-vertical-gradient-start-color: white;
	text-vertical-gradient-end-color: highlightedFontColor;*/
}