/** BLOCK **/

h1 {
	display: block;
	font: fnt_h1;
}

br {
	display: block;
}

div {
	display: block;
	font: fnt_text;
}

p {
	display: block;
	margin-top: 5%;
	margin-bottom: 5%;
	font: fnt_text;
}

/** INLINE **/

text {
	display: inline;
	font: fnt_text;
}

span {
	display: inline;
	font: fnt_text;
}

em {
	display: inline;
	font: fnt_text;
}

form {
	display: inline;
}

input_text {
	display: inline;
	font: fnt_input_text;
	border: bdr_input;
}

input_text:hover {
	border: bdr_input_focus;
}

input_submit {
	display: inline;
	font: fnt_input_submit;
	border: bdr_input;
	background: bg_input_submit;
	min-width: 80;
	text-layout: vcenter;
	margin: 2%;
}

input_submit:hover {
	border: bdr_input_focus;
}

input_submit:pressed {
	background: bg_input_submit_focus;
	border: bdr_input_focus;
	font: fnt_text_focus;
}

input_radio_group {
}

input_radio_group:hover {}

input_radio {
	display: inline;
}

input_radio:hover {
	border: bdr_input_focus;
}

input_radio:pressed {
	background: bg_input_submit_focus;
	border: bdr_input_focus;
	font: fnt_text_focus;
}