
colors {
	pink : rgb;
	darkpink :rgb(18h5,26,138);
}
/* Hallo */

menu {
    margin-left: 2;
	padding: 2;
	background{
		type: round-rect;
		color: white;
		border-width: 2;
		border-color: yellow;
	}
	focused-style: .menuFocused;
	menubar-color: transparent;
	menufont-color: white;
}

menuItem {
	margin-top: 2;
	padding: 2;
	padding-left: 5;
	font {
		color: black;
		size: medium;
		style: bold;
	}
	layout: left;
}

.menuFocused extends .menuItem {
	background-color: black;
	font-color: white;
	layout: left | horizontal-expand;
	after: url(heart.png);
}

title {
	padding: 2;
	margin-top: 0;
	margin-bottom: 5;
	margin-left: 0;
	margin-right: 0;
	font-face: proportional;
	font-size: large;
	font-style: bold;
	font-color: white;
	background {
		color: darkpink;
	}
	border: none;
	layout: horizontal-center | horizontal-expand;
}

focused {
	padding: 2;
	padding-vertical: 3;
	padding-left: 3;
	padding-right: 3;
	padding-top: 10;
	padding-bottom: 10;
	background-type: round-rect;
	background-arc: 8;
	background-color: pink;
	border {
		type: round-rect;
		arc: 8;
		color: yellow;
		width: 2;
	}
	font {
		style: bold;
		color: black;
		size: small;
	}
	layout: expand | center;
}

list {
	padding-left: 5;
	padding-right: 5;
	padding-vertical: 10;
	padding-horizontal: 10;
	background {
		color: pink;
		image: url( heart.png );
	}
	columns: 2;
	columns-width: equal;
	layout: horizontal-expand | horizontal-center | vertical-center;
}

listitem {
	margin: 2;
	padding: 2;
	padding-vertical: 3;
	padding-left: 3;
	padding-right: 3;
	padding-top: 10;
	padding-bottom: 10;
	background: none;
	font-color: white;
	font-style: bold;
	font-size: small;
	layout: center;
	icon-image: url( %INDEX%icon.png );
	icon-image-align: top;
}
