<?xml version="1.0" encoding="UTF-8"?>

<?eclipse version="3.0"?>
<plugin class="de.enough.polish.plugin.eclipse.css.CssEditorPlugin" id="de.enough.polish.plugin.eclipse.css.CssEditorPlugin" name="CssEditor Plug-in" provider-name="" version="0.3.4">
    <runtime>
        <library name="CssEditor.jar">
            <export name="*"></export>
        </library>
        <library name="lib/antlr-2.7.5.jar">
            <export name="*"></export>
        </library>
    </runtime>
    <requires>
        <import plugin="org.eclipse.ui"></import>
        <import plugin="org.eclipse.core.runtime"></import>
        <import plugin="org.eclipse.ui.editors"></import>
        <import plugin="org.eclipse.ui.workbench.texteditor"></import>
        <import plugin="org.eclipse.jface.text"></import>
        <import plugin="org.eclipse.ui.views"></import>
    </requires>
    <extension point="org.eclipse.ui.editors">
        <editor class="de.enough.polish.plugin.eclipse.css.editor.CssEditor" contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor" extensions="css" icon="icons/sample.gif" id="de.enough.polish.plugin.eclipse.css.editor.CssEditor" name="Polish CSS-Editor"></editor>
    </extension>
</plugin>

