.myDiv {
	margin: 5px;
	padding: 5px;
	display: block;
	background-color: blue;
}

.myP {
	padding: 5px;
	margin: 20px;
	display: block;
	background-color: red;
}

myInnerP {
	padding: 5px;
	display: block;
	background-color: yellow;
}

.mySpan {
	padding: 0px;
	display: inline;
	background-color: green;
}

.myFloat {
	padding: 0px;
	float: left;
}