.myDiv {
	margin: 0;
	padding: 0;
	background-color: blue;
}

.myP {
	padding: 5px;
	margin: 5px;
	background-color: red;
}

.mySpan {
	margin: 0;
	padding: 0;
	display: inline;
	background-color: green;
}