.myDiv {
	margin: 5px;
	padding: 5px;
	display: block;
	background-color: blue;
}

.myP {
	padding: 1px;
	margin: 10px;
	display: block;
	background-color: #A0A0A0;
}

.myInnerP {
	padding: 0px;
	display: block;
	background-color: white;
}

.mySpan {
	padding: 0px; 
	display: inline;
	background-color: green;
}

.myFloat {
	float: left;
	display: block;
	padding: 2px;
}

.mySecondFloat {
	float: left;
	display: block;
	background-color: blue;
	margin: 2px;
}