.frame {
	display: block;
	margin: 37px;
	padding: 0px;
	background-color: #FF6600;
}

.frame:hover {}

.frameTitle {
	display: block;
	padding: 0px;
	margin: 6px;
	color: #FFFFFF;
}

.icon {
	margin-right: 5px; 	
	vertical-align: middle;
}

.field {
	display: block;
	padding: 0px;
	margin: 5px;	
	vertical-align: top;
}

.field:hover {
	font-color: #FF6600;
}

.content {
	display: block;
	padding: 1px;
	background-color: white;
}

.content:hover {}