.frame {
	display: block;
	margin: 15%;
	padding: 1%;
	background-color: #FF6600;
}

.frame:hover {}

.frameTitle {
	display: block;
	padding: 0;
	margin: 3%;
	color: #FFFFFF;
}

.icon {
	margin-right: 2%; 	
	vertical-align: middle;
}

.field {
	display: block;
	padding: 0px;
	margin: 2%;	
	vertical-align: top;
}

.field:hover {
	font-color: #FF6600;
}

.content {
	display: block;
	padding: 1%;
	background-color: white;
}

.content:hover {}