.frame {
	display: block;
	margin: 30px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 1px;
	background-color: #A0A0A0;
}

.frame:hover {
	background-color: #FF6600;
}

.field {
	display: block;
	padding: 0px;
	margin: 5px;	
}

.field:hover {
	font-color: #FF6600;
}

.frameTitle {
	display: block;
	padding: 0px;
	margin: 5px;
	font-color: white;
}

.content {
	display: block;
	padding: 1px;
	background-color: white;
}

.form {
	display: block;
}
